<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section class="hero">
    <div class="container">
      <header>
        <div class="logo">
          <h3><a >Travel</a></h3>
        </div>
        <nav>
          <div class="ham">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <ul class="nav-list">
            <li class="active"><a>Home</a></li>
            <li><a>Gallery</a></li>
            <li><a>About Us</a></li>
            <li><a>Contact Us</a></li>
            <li class="btn-bn"><a>Book Now</a></li>
          </ul>
        </nav>
      </header>
      <div class="banner">
        <div class="text">
          <h2>OM Travels</h2>
          <h1>Keep calm and travel on...</h1>
          <p>Once the Travel bug bites there is no known antidote, and I know that I shall be happily infected until the end of my life.</p>
          <button type="button">Learn More</button>
        </div>
        <div class="connect">
          <p>Follow Us On Social Media</p>
          <div class="links">
            <i class="fa fa-car" style="font-size:48px;"></i>
            <a><i class="fa fa-car" style="font-size:48px;"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</body>
</html>




 <!-- <div class="container">
<div class="d-flex">
<div><button (click)="Langtranslate('en')">English</button></div>
<div><button (click)="Langtranslate('fr')">French</button></div>
<div><button (click)="Langtranslate('gu')">Gujarati</button></div>
<div><button (click)="Langtranslate('hi')">Hindi</button></div>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{'swapnil.title' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{'swapnil.paragraph' | translate}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" mat-button>{{'swapnil.likeButt' | translate}}</button>
    <button mat-button color="primary" mat-button>{{'swapnil.shareButt' | translate}}</button>
  </mat-card-actions>
</mat-card>


</div> -->
 
